# deps
node_modules/

dist/
.turbo/
.vite/
.vercel/
*.DS_Store
coverage/

settings.json

dist-ssr
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# env
.env
.env.production
.env.*.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
